<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}

<form action="order_remind.php?act=download" method="post" enctype="multipart/form-data">
  <p><span>当前音乐：{$file_name}</span>&nbsp;<span><button>下载</button></span></p>
</form>

<form action="order_remind.php?act=toedit" method="post" enctype="multipart/form-data">
  <!--<p><span>当前音乐：{$file_name}</span>&nbsp;<span><button>下载</button></span></p>-->
  <input type="file" name="music">
  <input type="submit" >
  <p>仅支持mp3音乐格式</p>
</form>

{include file="pagefooter.htm"}